.root {
    /*-fx-background-color: cornsilk;*/
    /*-fx-padding: 10;*/
}

.htoolbar {
    -fx-background-color: rgb(230, 230, 230);
}

.htoolbar-button {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-insets: 0 0 1 0;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 3;
    -fx-border-width: 1;
}

.htoolbar-button:pressed {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-insets: 0 0 1 0;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 3;
    -fx-border-width: 1;
}

.htoolbar-label {
    -fx-font-size: 12;
    -fx-font-family: Arial;
}

.hsidebar {
    -fx-background-color: rgb(201, 201, 201);
}

.hsidebar-togglebutton {
    -fx-background-color: rgb(201, 201, 201);
}

.hsidebar-togglebutton:pressed {
    -fx-background-color: rgb(241, 241, 241);
    -fx-background-radius: 0;
}

.hsidebar-togglebutton:selected {
    -fx-background-radius: 0;
}

.hsidebar-semiborder {
    -fx-background-color: rgb(140, 140, 140);
}

#hsidebar-togglebutton-Project:selected {
    -fx-background-color: rgb(10, 180, 180);
}

#hsidebar-togglebutton-B:selected {
    -fx-background-color: rgb(180, 10, 180);
}

#hsidebar-togglebutton-C:selected {
    -fx-background-color: rgb(180, 180, 10);
}

#projectview {
    -fx-border-width: 0;
}

#project-treeview {
    -fx-border-width: 0;
    -fx-border-color: red;
    -fx-background-color: transparent;
}

#project-treeview:focused {

}

#Bview {
    -fx-background-color: red;
}

#Cview {
    -fx-background-color: blue;
}

.project-view-tree-cell {
    -fx-background-color: white;
    -fx-border-width: 0;
}